
h1, h2, h3 {
  font-family: 'Patua One', cursive;
}

h1 {
  font-size: 2rem;
}

body {
  font-family: 'Roboto', sans-serif;
}


.navbar {
  background: #333;
  color: #fff;
}

.translationList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2px;
}

.translationList li {
  background: #eee;
  border-radius: 5px;
}




.textBoxLabel {
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1rem;
}

.textBoxSm {
  border: 1px solid #fff;
  height: 38px;
  padding: 6px 12px;
}

.textBox {
  border: 1px solid #fff;
  padding: 6px 12px;
  margin-bottom: 16px;
  overflow: auto;
}
.textBox, textarea.textArea {
  height: 150px;
}

.btn-rpurp {
  background: #693d9e;
  color: #fff;
}

.btn-rpurp:hover {
  background: #53307e;
  color: #ffffe5;
}

.btn-manatee {
  background: #9691a8;
  color: #fff;
}

.btn-manatee:hover {
  background: #787486;
  color: #ffffe5;
}

.navbar-purp {
  background: #251c2c;
  color: #f0f0ee;
}



.jumbo {
  background: url('castle_1280.jpg') center / cover no-repeat #251c2c;
  color: #f0f0ee;
}

/*
#f0f0ee - Desert Storm
#9691a8 - Manatee
#693d9e - Royal Purple
#53307e - Royal Purple (darker)
#8475a5 - Kimberly
#251c2c - Bleached Cedar
*/